
.navbar{
    display: flex;
    justify-content: space-around;
    background:#fce3fe;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 3px;
    justify-content: center;
}

.nav-menu hr{
    border: none;
    height: 3px;
    width: 80%;
    border-radius: 10px ;
    background: #FF4141;
    transition: width 0.6s ease-in-out; 
    opacity: 1;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
  

}
.nav-login-cart img{
    height: 60px;
    width: 50px;
}

/* .nav-login-cart button{
    width: 157px;
    border: 1px solid #7a7a7a;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    background: white;
    border-radius: 75px;
    height: 58px;
    background: #FF4141;
} */

/* .nav-login-cart button:active{
    background: #f3f3f3;
} */
.div1{
    border: none;
}
.div1 button{
    border: none;
}


.nav-cart-count{
    width: 22px;
    cursor: pointer;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -59px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

/* @media(max-width: 1280px){
    .navbar{
        padding: 12px 50px;
    }

    .nav_dropdown{
        display: none;
    }

    .nav-logo img{
        width: 40px;
    }
    .nav-logo p{
        font-size: 25px;
    }
    .nav-menu{
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;

    }
    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
}
@media(max-width: 1024px){
    .navbar{
        padding: 12px 3dvh;
    }

    .nav_dropdown{
        display: none;
    }

    .nav-menu{
        gap: 25px;
        font-size: 14px;
    }
    
    .nav-login-cart button{
        width: 80px;
        height: 35px;
        font-size: 14px;
    }
    .nav-login-cart img{
       width: 30px;
    }

    .nav-cart-count{
        width: 18px;
        height: 18px;
    }
}


@media(max-width: 800px){
    .navbar{
        padding: 12px 50px;
    }
     .nav_dropdown{
        display: block;
        width: 30px;
        height: 10px;
     }
    .nav-logo img{
        width: 40px;
    }
    .nav-logo p{
        font-size: 25px;
    }
    .nav-menu{
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;

    }
    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
} */

/* Regular CSS equivalent */
.custom-image {
    width: 4rem; 
    margin-bottom: 0.5rem; 
    height: 3.3rem;
    border-radius:50%; 
    margin-top: 15px;
  }

  .combine{
    display: flex;
    gap: 59px;
  }
  
  .menu{
    font-weight: 800;
    font-size: medium;
    font-style: inherit;
    color: #171717;
   
    text-transform: uppercase;
  }

