.popup {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d2330f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }
  
  .popup.hide {
    display: none;
  }