.hero{
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    /* background-image: url('../assets/Assets/hero2.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    background-color : rgb(168, 138, 107);;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: 20px;
    padding-left: 180px;
    line-height: 1.1;
    margin-left: 60px;
   

}

.hero-left h2{
    
    color: whitesmoke;
    font-size: 28px;
    font-weight: 900;
}


.hero-left p{
    color: #171717;
    font-size: 60px;
    font-weight: 700;
}

.hero-hand-icon{
    display: flex;
    grid-area: 10px;
    align-items: center;
    color: #ff4141;
}
.hero-hand-icon p{
    color: #ff4148;
}
.hero-hand-icon img{
    width: 120px;
    height: 150px;
    margin-left: 20px;

}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: cen;
    width: 310px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-weight: 500;
    gap: 15px;
    height: 70px;
    font-size: 22px;

}

.ppp p{
    color: rgb(117, 9, 9);
}

.hero-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
    width: max-content;
}

.hero-right img{
    height: 670px;
}

.hero-leftnew{
   
    margin-left: 10px;
    margin-right: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: aquamarine;


}


 .combine{
    display: flex;
    flex-direction: row;
    align-items: center;
      justify-content: center;

} 
